---
import DatesArray from "../atoms/DatesArray.astro";

import { getLangFromUrl, useTranslations } from "../../../data/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const subfolder = lang === "es" ? "" : "en/";

const postsInitials = await Astro.glob("../../../pages/**/blog/*{.md,.mdx}");
const posts = postsInitials.filter(
  ({ url }) =>
    (url.includes("/en/") && lang === "en") ||
    (!url.includes("/en/") && lang === "es")
);

const currentPath = Astro.url.pathname;
---

{
  posts.map(({ frontmatter, url: urlString }) => {
    const url = urlString + "/";
    const image = frontmatter.image.replace(".jpg", "-80.jpg");
    return (
      <a href={url}>
        <div class={currentPath === url ? "blog-item active" : "blog-item"}>
          <img
            src={image}
            alt={`${t("generic.image_of")} ${frontmatter.title}`}
            class="image"
            transition:name={
              currentPath === url ? "" : `image-${frontmatter.id}`
            }
          />
          <div>
            <p
              transition:name={
                currentPath === url ? "" : `title-${frontmatter.id}`
              }
            >
              {frontmatter.title}
            </p>
            <footer class="dates">
              <DatesArray dates={[new Date(frontmatter.year)]} />
            </footer>
          </div>
        </div>
      </a>
    );
  })
}

<style>
  .active {
    border: solid 2px var(--primary-color);
  }
  .blog-item {
    width: 90%;
    padding: 10px 15px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }
  p {
    color: var(--text-color1);
    font-weight: 500;
    margin: 6px;
  }
  .dates {
    padding-left: 10px;
    color: var(--text-color3);
  }
  .clear {
    clear: both;
  }
</style>
