---
import type { ReviewSchema } from "../../../domain/schemas/WorkSchema";
import QuoteIcon from "../atoms/icons/QuoteIcon.astro";
import ExternalLinkIcon from "../atoms/icons/ExternalLinkIcon.astro";
import Tooltip from "../atoms/Tooltip.astro";
interface Props {
  reviews: ReviewSchema[];
}

const { reviews } = Astro.props;
---

<div class="container">
  {
    reviews.map((review) => {
      return (
        <div class="card">
          <img src={review.photo} alt={review.who} class="image" />
          <p class="quote-icon">
            <QuoteIcon />
          </p>
          <p class="description">{review.description}</p>
          <a href={review.linkedIn} target="_blank" title="Ver en linkedIn">
            <div class="who">
              {review.who} - {review.relationship}
              <ExternalLinkIcon />
            </div>
          </a>
        </div>
      );
    })
  }
</div>

<style>
  :root {
    --shadow-insset: rgba(30, 30, 30, 0.5);
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 20px;
  }
  .container a {
    color: white;
  }

  .quote-icon {
    position: absolute;
    opacity: 0.7;
    left: 15px;
    top: 5px;
  }
  .image {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: 2;
    box-shadow: var(--shadow-insset) 0px 2px 2px 0px,
      var(--shadow-insset) 0px 4px 4px 0px, var(--shadow-insset) 0px 8px 8px 0px,
      var(--shadow-insset) 0px 16px 16px 0px,
      var(--shadow-insset) 0px 32px 32px 0px;
  }
  .card {
    border-radius: 20px;
    position: relative;
    padding: 30px 20px;
  }
  .description {
    font-style: italic;
    padding-left: 60px;
    min-height: 120px;
  }
  .who {
    text-align: right;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
  }
  @media (min-width: 740px) and (max-width: 1000px) {
    .description {
      padding-left: 0px;
      min-height: 200px;
    }
    .image {
      position: relative;
      display: block;
      margin: auto;
      top: 0px;
      left: 0px;
    }
    .quote-icon {
      top: 100px;
      left: -20px;
    }
    .container {
      grid-column-gap: 50px;
    }
  }
  @media (max-width: 740px) {
    .container {
      width: 100%;
      grid-template-columns: 1fr;
      padding: 5px 10px;
    }
    .image {
      position: relative;
      top: 0px;
      left: calc(50% - 50px);
    }
    .card {
      width: 100%;
      padding: 0;
    }
    .description {
      padding: 0;
    }
  }
</style>
