---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../../../data/i18n/utils";
import type { WorkSchema } from "../../../domain/schemas/WorkSchema";
import DatesArray from "../atoms/DatesArray.astro";
import Divider from "../atoms/Divider.astro";
import Tooltip from "../atoms/Tooltip.astro";
import RightArrow from "../atoms/icons/RightArrow.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

interface Props extends WorkSchema {}
const data = Astro.props;

const image = data.images[0].replace(".jpg", "-100.jpg");
---

<a href={translatePath(`/work/${data.id}`)} rel="referrer" class="link">
  <div class="card">
    <img
      class="image"
      src={"/images/works/" + image}
      alt={t("work_card.photo_of")}
      transition:name={`work-${data.name}`}
    />
    <div class="body">
      <div>
        <header>{data.position[lang]}</header>
        <p class="company">{data.name}</p>
        <Divider size="15px" />
        <DatesArray dates={data.dates} />
      </div>
      <div class="arrow">
        <Tooltip title={t("generic.see_more")}>
          <RightArrow />
        </Tooltip>
      </div>
    </div>
  </div>
</a>

<style>
  .card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    border-radius: 16px;
    padding: 10px 30px;
    background-color: var(--bg-color2-opacity);
  }
  .body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: block;
    object-fit: scale-down;
  }
  p {
    margin: 0px;
  }
  h4 {
    font-size: 20px;
  }
  header {
    font-size: 25px;
    font-weight: 500;
  }
  .company {
    color: var(--text-color2);
  }
  .arrow {
    color: var(--text-color3);
  }
  @media (max-width: 740px) {
    .image {
      width: 50px;
      height: 50px;
      border-radius: 10px;
    }
    .card {
      gap: 10px;
      align-items: flex-start;
      padding: 10px 10px;
    }
    header {
      font-size: 17px;
    }
    p {
      font-size: 15px;
    }
  }
</style>
