---
import allProjects from "../../data/projects-list";
import BackButton from "../../presentation/components/atoms/BackButton.astro";
import DatesArray from "../../presentation/components/atoms/DatesArray.astro";
import CarouselImages from "../../presentation/components/molecules/CarouselImages.astro";
import StackList from "../../presentation/components/molecules/StackList.astro";
import Layout from "../../presentation/layouts/Layout.astro";
import ButtonArrow from "../../presentation/components/atoms/ButtonArrow.astro";
export function getStaticPaths() {
  return Object.keys(allProjects).map((key) => {
    return {
      params: { id: key },
    };
  });
}

const { id } = Astro.params;

if (!id || typeof id === "undefined") {
  return Astro.redirect("/");
}
const project = allProjects[id];
---

<Layout title={`Proyecto ${project?.name}`}>
  <div class="container">
    <div>
      <BackButton />
      <CarouselImages images={project.images} id={id} />
    </div>
    <div>
      <h2 transition:name={`project-title-${id}`}>
        {project?.name}
      </h2>
      <h3>
        Proyecto {project.owner}
      </h3>
      <DatesArray dates={project.dates} />
      <p transition:name={`project-description-${id}`}>
        {project.description}
      </p>
      {
        (project.links || []).map((link) => {
          return (
            <a href={link.href} target="_blank">
              <ButtonArrow label={link.title} />
            </a>
          );
        })
      }
      <StackList stack={project.stack} />
    </div>
  </div>
</Layout>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: auto;
    gap: 50px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .image-container {
    width: 100%;
    max-width: 400px;
  }

  .image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .content {
    padding: 20px;
  }

  h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #333333;
  }

  h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    color: #555555;
    font-weight: 400;
  }

  p {
    margin: 0;
    margin-bottom: 20px;
    color: #666666;
    line-height: 1.5;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 5px;
    color: #666666;
  }

  @media (max-width: 740px) {
    .container {
      display: block;
      height: auto;
      width: 95%;
    }
  }
</style>
