---
import allProjects from "../../data/projects-list";
import BackButton from "../../presentation/components/atoms/BackButton.astro";
import DatesArray from "../../presentation/components/atoms/DatesArray.astro";
import CarouselImages from "../../presentation/components/molecules/CarouselImages.astro";
import StackList from "../../presentation/components/molecules/StackList.astro";
import Layout from "../../presentation/layouts/Layout.astro";
import ButtonArrow from "../../presentation/components/atoms/ButtonArrow.astro";
import TitlePage from "../../presentation/components/atoms/TitlePage.astro";
import Divider from "../../presentation/components/atoms/Divider.astro";

export function getStaticPaths() {
  return Object.keys(allProjects).map((key) => {
    return {
      params: { id: key },
    };
  });
}

const { id } = Astro.params;

if (!id || typeof id === "undefined") {
  return Astro.redirect("/");
}
const project = allProjects[id];
---

<Layout title={`Proyecto ${project?.name}`}>
  <div class="container">
    <!--BackButton /-->
    <TitlePage title={project?.name} transition:name={`project-title-${id}`}
      ><DatesArray dates={project.dates} />
    </TitlePage>
    <Divider />

    <CarouselImages images={project.images} id={id} />
    <Divider />
    <div>
      <h3>
        Proyecto: {project.owner}
      </h3>
      <p transition:name={`project-description-${id}`}>
        {project.description}
      </p>
      <StackList stack={project.stack} />
      <Divider />
      <footer>
        {
          (project.links || []).map((link) => {
            return (
              <a href={link.href} target="_blank">
                <ButtonArrow label={link.title} />
              </a>
            );
          })
        }
      </footer>
    </div>
  </div>
</Layout>

<style>
  .container {
    align-items: center;
    height: 100vh;
    width: 740px;
    margin: auto;
    margin-top: 50px;
    gap: 50px;
    padding: 20px;
    border-radius: 10px;
  }

  .image-container {
    width: 100%;
    max-width: 400px;
  }

  .image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .content {
    padding: 20px;
  }

  h3 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 23px;
  }

  p {
    margin: 20px 0px;
    color: var(--text-color3);
    line-height: 1.5;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 5px;
    color: #666666;
  }

  footer {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  @media (max-width: 740px) {
    .container {
      display: block;
      height: auto;
      width: 95%;
    }
  }
</style>
