---
import type { WorkSchema } from "../../../domain/schemas/WorkSchema";
import ButtonArrow from "./ButtonArrow.astro";
import DatesArray from "./DatesArray.astro";
interface Props extends WorkSchema {}

const data = Astro.props;
---

<div class="card">
  <img
    src={"/images/works/" + data.images[0]}
    alt="Foto de empresa"
    transition:name={`work-${data.name}`}
    class="image"
  />
  <div class="description">
    <h4>{data.name}</h4>
    <p>{data.position}</p>
    <DatesArray dates={data.dates} />
    <a href={`/work/${data.id}`} rel="referrer">
      <ButtonArrow label="Conocer más" />
    </a>
  </div>
</div>

<style>
  .card {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: auto;
  }
  .image {
    width: 90%;
    display: block;
  }
  .description {
    width: 100%;
    padding-left: 50px;
  }
  h4, p {
    margin: 0px;
  }
</style>
