---
import type { WorkSchema } from "../../../domain/schemas/WorkSchema";
import ButtonArrow from "./ButtonArrow.astro";
import DatesArray from "./DatesArray.astro";
interface Props extends WorkSchema {}
const data = Astro.props;
---

<div class="card">
  <img
    class="image"
    src={"/images/works/" + data.images[0]}
    alt="Foto de empresa"
    transition:name={`work-${data.name}`}
  />
  <div>
    <h4>{data.name}</h4>
    <p>{data.position}</p>
    <DatesArray dates={data.dates} />
    <a href={`/work/${data.name}`} rel="referrer">
      <ButtonArrow label="Conocer más" />
    </a>
  </div>
</div>

<style>
  .card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  .image {
    width: 150px;
    height: 120px;
    display: block;
    object-fit: scale-down;
  }
  h4,
  p {
    margin: 0px;
  }
  a {
    margin-top: 10px;
    display: block;
  }
</style>
