---
import { getLangFromUrl, useTranslations } from "../../data/i18n/utils";
import DatesArray from "../components/atoms/DatesArray.astro";
import TitlePageBlog from "../components/atoms/TitlePageBlog.astro";
import NavBlog from "../components/molecules/NavBlog.astro";
import Layout from "./Layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { frontmatter } = Astro.props;
---

<Layout
  title={frontmatter.title}
  keywords={frontmatter.keywords}
  image={frontmatter.title_image}
  description={frontmatter.description}
>
  <section>
    <img
      src={frontmatter.image}
      alt=`${t("generic.image_of")} ${frontmatter.title}`
      class="title_page"
      transition:name={`image-${frontmatter.id}`}
    />
    <TitlePageBlog title={frontmatter.title} />
    <div class="author">
      <img
        src={"/images/me/me.webp"}
        alt={t("me.photo_of")}
        class="author-img"
      />
      <div class="author-data">
        <p>{t("blog.author")}: {frontmatter.author}</p>
        <DatesArray dates={[new Date(frontmatter.year)]} />
      </div>
    </div>
    <hr />
    {lang === "en" && <p class="warning">This site is being translated</p>}
    <div id="slot" transition:name={`title-${frontmatter.id}`}>
      <slot />
    </div>

    <div class="happy-codding">Happy coding...</div>
  </section>
  <NavBlog />
</Layout>
<style>
  hr {
    border: solid 1px var(--border-color);
  }
  section {
    width: 95%;
    max-width: 740px;
    margin: auto;
    padding-top: 70px;
    color: var(--text-color3);
  }
  .author {
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
  }
  .author-data {
    display: flex;
    flex-direction: column;
  }
  .author-data p {
    margin: 0px;
  }
  .author-img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
  }
  .title_page {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 40px;
  }

  .happy-codding {
    color: white;
    background-color: var(--secondary-color);
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 50px;
    text-align: right;
    font-style: italic;
  }

  @media (min-width: 740px) and (max-width: 1200px) {
    section {
      margin-left: 100px;
      max-width: 700px;
    }
  }
</style>
<style is:inline>
  #slot h2,
  #slot h3,
  #slot h4,
  #slot h5 {
    color: var(--text-color1);
  }
  h1 {
    font-size: 35px;
    color: var(--primary-color);
  }
  #slot h2 {
    font-size: 25px;
  }
  #slot h3 {
    font-size: 20px;
  }
  #slot pre {
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: var(--shadow) 0px 2px 2px 0px, var(--shadow) 0px 4px 4px 0px,
      var(--shadow) 0px 8px 8px 0px, var(--shadow) 0px 16px 16px 0px,
      var(--shadow) 0px 32px 32px 0px;
    font-size: 14px;
  }
  #slot p code {
    background-color: var(--secondary-color);
    color: white;
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 3px;
  }
  #slot a {
    color: var(--primary-color);
    text-decoration: underline;
  }
  #slot img {
    max-width: 100%;
    margin: auto;
    display: block;
  }

  .warning {
    color: white;
    background-color: #ffa92b;
    padding: 20px 25px;
    border-radius: 15px;
  }
</style>
