---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/molecules/Header.astro";
import "../media/styles/main.css";
import Footer from "../components/molecules/Footer.astro";
import JsonLD from "../components/atoms/JsonLD.astro";
interface Props {
  title: string;
  keywords?: string;
  image?: string;
}

const { title } = Astro.props;
const image = Astro.props.image || "https://wilciro.vercel.app/image-meta.png";
const keywords =
  Astro.props.keywords ||
  "Wilfer Daniel Ciro Maya, developer, desarrollador fullstack, portfolio, portafolio";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content={keywords} />
    <meta name="theme-color" content="#082a3a" />
    <meta name="author" content="Wilfer Daniel Ciro Maya" />

    <title>Wilfer Ciro — {title}</title>
    <meta name="title" content={`Wilfer Ciro — ${title}`} />
    <meta
      name="description"
      content="Soy un apasionado desarrollador fullstack con experiencia en tecnologías web modernas. Me encanta crear aplicaciones web innovadoras y soluciones tecnológicas para problemas complejos"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://wilciro.vercel.app/" />
    <meta property="og:title" content={`Wilfer Ciro — ${title}`} />
    <meta
      property="og:description"
      content="Soy un apasionado desarrollador fullstack con experiencia en tecnologías web modernas. Me encanta crear aplicaciones web innovadoras y soluciones tecnológicas para problemas complejos"
    />
    <meta property="og:image" content={image} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://wilciro.vercel.app/" />
    <meta property="twitter:title" content={`Wilfer Ciro — ${title}`} />
    <meta
      property="twitter:description"
      content="Soy un apasionado desarrollador fullstack con experiencia en tecnologías web modernas. Me encanta crear aplicaciones web innovadoras y soluciones tecnológicas para problemas complejos"
    />
    <meta property="twitter:image" content={image} />

    <link rel="manifest" href="/manifest.json" />

    <JsonLD />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      const getTheme = () => localStorage.getItem("theme") || "light";

      const setTheme = (theme: string) =>
        document.documentElement.setAttribute("data-theme", theme);

      window.addEventListener("DOMContentLoaded", () => setTheme(getTheme()));
      document.addEventListener("astro:after-swap", () => setTheme(getTheme()));
    </script>
  </body>
</html>
