---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/molecules/Header.astro";
import Footer from "../components/molecules/Footer.astro";
import JsonLD from "../components/atoms/JsonLD.astro";
import { getLangFromUrl } from "../../data/i18n/utils";
import { layoutData } from "../../data/layout-data";
import "../media/styles/main.css";

const lang = getLangFromUrl(Astro.url);

interface Props {
  title: string;
  keywords?: string;
  image?: string;
  description?: string;
}

const layoutD = layoutData[lang];

const { title } = Astro.props;
const image =
  "https://wilciro.vercel.app" + (Astro.props.image || "/image-meta.png");
const description = Astro.props.description || layoutD.description;
const keywords = Astro.props.keywords || layoutD.keywords;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content={keywords} />
    <meta name="theme-color" content="#082a3a" />
    <meta name="author" content="Wilfer Daniel Ciro Maya" />

    <title>Wilfer Ciro — {title}</title>
    <meta name="title" content={`Wilfer Ciro — ${title}`} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://wilciro.vercel.app/" />
    <meta property="og:title" content={`Wilfer Ciro — ${title}`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://wilciro.vercel.app/" />
    <meta property="twitter:title" content={`Wilfer Ciro — ${title}`} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <script is:inline src="/registerSW.js"></script>

    <link rel="manifest" href="/manifest.json" />

    <JsonLD />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      const getTheme = () => localStorage.getItem("theme") || "light";

      const setTheme = (theme: string) =>
        document.documentElement.setAttribute("data-theme", theme);

      window.addEventListener("DOMContentLoaded", () => setTheme(getTheme()));
      document.addEventListener("astro:after-swap", () => setTheme(getTheme()));
    </script>
  </body>
</html>
